<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="form-container">
            <div class="form-group">
                <input type="number" placeholder="author_id" v-model="author_id">
            </div>
            <div class="form-group">
                <input type="text" placeholder="title" v-model="title">
            </div>
            <div class="form-group">
                <textarea name="" id=""  rows="5" placeholder="body" v-model="body"></textarea>
            </div>

            <div class="form-group">
                <button type="button" v-if="!isHidden" @click="createTodo">Add Todo</button >
                <button type="button" v-if="isHidden" @click="updateTodo">Update</button >
            </div>
        </div>
        <div class="container">
            <div class="card" v-for="(data,index) in todos" @key="index">
                <div class="edit-delete">
                    <a class="btn btn-primary btn-sm mr-2" @click="editTodo(data)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-sm mr-2" @click="deleteTodo(data.id)"><i class="fa fa-trash"></i></a>
                </div> 
                <div class="card-title" >
                    <h1>{{data.title}}</h1>
                </div>
                <div class="card-body">
                    <!-- <p>{{data.status}}</p> -->
                    <p>{{data.body}}</p>
                </div>
                <div class="card-footer">
                    <p>{{data.created_at}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            todos:[],
            author_id:null,
            title: '',
            body:'',
            url: "http://localhost:3000/api/books",
            isHidden: false
        },
        methods:{
            getTodos(){
            
                axios.get(this.url).then(response => {
                    this.todos = response.data.data;
                });
            },
            createTodo(){
                let data = {
                    author_id: parseInt(this.author_id), 
                    title:this.title, 
                    body:this.body
                };
                axios.post(this.url,data).then(response=>{

                })
                this.title = '';
                this.author_id = null;
                this.body = '';
            },
            deleteTodo(id) {
                axios.delete(this.url + '/'+ parseInt(id)).then(response => {
                
                });
                this.getTodos();
            },
            editTodo(todo){
                this.author_id = todo.author_id;
                this.title = todo.title;
                this.body = todo.body;
                
                this.updateId = todo.id;
                this.isHidden = true;
            },
            updateTodo() {
                let data = {
                    author_id:parseInt(this.author_id),
                    title: this.title,
                    body: this.body,
                }
                console.log(data);
                axios.put(this.url+ '/' + parseInt(this.updateId), data).then(response=>{
                    window.location.reload();
                })
                this.isHidden = false;
                this.title = '';
                this.author_id = null;
                this.body = '';
            }
            

        },
        mounted(){
            this.getTodos();
        }
    })
</script>
</html>